@import 'vendors/reset';
@import 'vendors/fontface';

@import 'mixin';

/* Include some font-faces */
@include fontFace('gunny_written', '../fonts/gunny_written/gunny_written');
@include fontFace('OpenSans-Regular', '../fonts/Open_Sans/OpenSans-Regular');

// Some global variables.
$red: #CC2355;
$blue: #63E2E2;
$debugBorder: 1px solid black;
$title-font: gunny_written;
$default-font: OpenSans-Regular;

@import 'vendors/global';
@import 'header/header';
@import 'blocks/global-blocks';
@import 'footer/footer';
@import 'modale/modale-toppings';