.main-header {
	width: 100%;
	height:73vh;
	border: 1px solid;
}
.wrapper-logo {
 	background: red;
 	height: 200px;
 	width: 100%;
 }
.wrapper-logo_logo {
	width: 27%;
    height: auto;
    position: absolute;
    top: 47px;
    left: 64px;
}

.wrapper-bloc-1 {
	border: 1px solid;
	width: 100%;
	text-align:center;	
}

.titre{
	font-family:"gunny_written";
}