body {
  font-family: $default-font;
}

.blocks-wrapper {
  height: auto;
}

.wrapper-block-1 {
  width: 88%;
  margin: -83px auto 30px;
  text-align: center;
  & .big-title {
    color: #CC2355;
    width: 75%;
    margin: 0 auto 10px auto;
    @include large-phone {
      margin-top: 2vh;
      width: 291px;
    }
    @include tablet {
      font-size: 50px;
      margin-top: 5vh;
      width: 100%;
    }
  }
  & .global-text {
    width: 100%;
    margin: 0 auto;
    @include large-phone {
      width: 86%;
    }
    @include tablet {
      margin-top: 4vh;
      font-size: 16px;
      width: 75%;
    }
  }
}

.wrapper-block-2 {
  margin-top: 220px;
  width: 100%;
  height: 90vh;
  background: url('../images/bg-content-2.svg');
  background-size: cover;

  @include tablet {
    background: url('../images/bg-content-2-desktop.svg');
  }

  & .container-glace-img {
    width: 335px;
    height: 250px;
    background: url('../images/glace2.png');
    background-size: cover;
    margin: -70px auto 20px auto;

    @include tablet {
      width: 40vh;
      margin-left: 60vh;
    }
  }
  & .big-title {
    color: white;
  }
  & .container-text {
    width: 88%;
    margin: 0 auto;
    color: #ffffff;

    @include tablet {
      width: 40%;
      margin-left: 20px;
    }
  }
  & .discover-button {
    font-family: $default-font;
    font-size: 14px;
    color: white;
    height: 44px;
    width: 82%;
    background-color: $red;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    @include tablet {
      display: none;
    }
  }
}

.wrapper-block-3 {
  width: 100%;
  height: 220px;
  background-color: $red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  @include tablet {
    display: none;
  }

  & .singleBlock {
    top: 50%;
    width: 100%;
    text-align: center;
    height: 75%;
    /*border:1px solid ;*/
  }
  & .block-left img {
    height: 100%;
  }
  & .block-right {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: left;
    & .block-3-title {

    }
    & .block-3-text {
      font-family: $default-font;
      line-height: 19px;
    }
  }
}

.wrapper-block-3-5 {
  .big-title {
    color: $red;
    text-align: center;
    font-size: 45px;
  }
  .block-flex {
    width: 100%;
    height: 220px;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    display: none;
    @include tablet {
      display: flex;
    }
    & .singleBlock {
      display: flex;
      flex-direction: row;
      & .block-left {
        width: 24%;
        & h3 {
          font-family: $title-font;
          font-size: 80px;
        }
      }
      & .block-right {
        width: 76%;
        & h3 {
          width: 80%;
          text-align: left;
          font-family: $title-font;
          font-size: 30px;
          padding-bottom: 10px;
        }
        & p {
          width: 80%;
          text-align: left;
          font-family: $default-font;
          line-height: 19px;
          font-size: 12px;
        }
      }
      top: 50%;
      width: 100%;
      text-align: center;
      height: 75%;
    }
  }
}

.wrapper-block-4 {
  background-color: $red;
  margin-top: 180px;
  width: 100%;
  height: 431px;
  @include tablet {
    display: none;
  }
  & .block-4-img {
    position: relative;
    /*border:1px solid;*/
    height: 130px;
    & img {
      position: absolute;
      top: -129px;
      right: 0;
      height: auto;
      width: 375px;
      @include small-phone {
        width: 100%;
      }
    }
  }
  & .container-text {
    margin: 0 auto 30px auto;
    /*border:1px solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    color: #ffffff;
  }
  & .block-4-title {

  }
  & .discover-toppings-button {
    font-family: $default-font;
    font-size: 14px;
    margin-left: 5%;
    color: $red;
    height: 44px;
    width: 82%;
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
  }
}

.wrapper-block-4-5 {
  position: relative;
  margin-top: 100px;
  background-color: $red;
  width: 100%;
  height: 431px;
  display: none;
  @include tablet {
    display: block;
  }
  & .image-left {
    width: 23%;
    max-width: 273px;
    margin-left: 0;
    margin-top: -20px;
    position: absolute;
  }
  & .image-right {
    position: absolute;
    width: 21%;
    max-width: 228px;
    //margin-top: -20px;
    //transform: translate(375%, 0%);
    right: 0;
  }
  & .block-flex {
    padding-top: 90px;
    color: #ffffff;
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100%;
    & .singleBlock {
      width: 100%;
      & .block-left {
        border-right: 2px solid #ffffff;
        width: 100%;
        flex-direction: row;
        display: flex;
        & .block-second-left {
          width: 50%;
        }
        & .block-second-right {
          width: 50%;
        }
      }
      & .block-right {
        width: 100%;
        flex-direction: row;
        display: flex;
        & .block-second-left {
          width: 12%;
        }
        & .block-second-right {
          width: 50%;
        }
      }
      & h3 {
        width: 90%;
        text-align: left;
        font-family: $title-font;
        font-size: 40px;
        padding-bottom: 15px;
      }
      & p {
        width: 90%;
        text-align: left;
        font-family: $default-font;
        line-height: 19px;
        font-size: 12px;
      }
    }
  }

}

.wrapper-block-5 {
  position: relative;
  width: 100%;
  height: 100vh;
  @include tablet {
    display: none;
  }
  & .block-5-img {
    height: auto;
    margin-top: -50px;
    margin-bottom: 25px;
    padding: 5%;
    & img {
      width: 100%;
      height: auto;
    }
  }
  & .block-5-container {
    background-image: url(../images/bg-content-5.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin-top: 150px;
    width: 100%;
    & .container-text {
      margin: 0 auto 30px auto;
      /*border:1px solid;*/
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 85%;
      color: #ffffff;
    }
  }
}

.wrapper-block-5-5 {
  padding-top: 80px;

  & .block-slider-flex {
    position: relative;
    padding-bottom: 5px;
    //border-bottom: 2px solid #DDDDDD;
    padding-top: 30px;
    margin: 0 auto;
    width: 35%;
    max-width: 400px;
    min-width: 325px;
    flex-direction: row;
    display: flex;
    text-align: center;
    & hr {
      border: 0;
      position: absolute;
      margin-top: 21px;
      width: 100%;
      background-color: #DDDDDD;
      height: 2px;
    }
    & h3 {
      cursor: pointer;
      width: 100%;
    }
    & h3:hover {
      padding-bottom: 5px;
      color: $red;
      z-index: 2;
      border-bottom: 2px solid $red;
    }
  }

  .big-title {
    color: $red;
    text-align: center;
    font-size: 45px;
  }
  .block-flex {
    width: 100%;
    height: 220px;
    flex-direction: row;
    align-items: center;
    display: flex;
    & .singleBlock {
      top: 50%;
      width: 100%;
      text-align: center;
      height: 75%;

      & .cube {
        position: relative;
        margin: 0 auto;
        width: 170px;
        height: 140px;
        & h3 {
          //position: absolute;
          //margin:0 auto;
          margin-top: 145px;
          color: #ffffff;
        }
      }
      & .cube-bleu {
        //padding-bottom: 20px;
        border: solid 1px $blue;
        border-bottom: solid 30px $blue;
      }
      & .cube-rouge {
        border: solid 1px $red;
        border-bottom: solid 30px $red;
      }
    }
  }
}

.wrapper-block-6 {
  height: 105vh;
  & .block-6-img {
    height: auto;
    margin: 60px 0 30px 0;
    & img {
      width: 100%;
      height: auto;
    }
  }
  & .block-6-title {
    color: $red;
  }
  & .container-text {
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    & :last-child {
      margin-top: 21px;
    }
  }
}